<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.bz.manage.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feather.bz.manage.domain.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt"/>
        <result column="realname" property="realname" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar"/>
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, nickname, realname, face, mobile, email, sex, birthday, created_time, updated_time
    </sql>
    <update id="updateUserBatch" parameterType="java.util.List">
        <foreach collection="userList" item="item" separator=";">
            UPDATE sys_user SET mobile = #{item.mobile} WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>
