<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.bz.manage.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feather.bz.manage.domain.SysLog">
        <result column="user" property="user" />
        <result column="operation" property="operation" />
        <result column="time" property="time" />
        <result column="uri" property="uri" />
        <result column="method_type" property="methodType" />
        <result column="method" property="method" />
        <result column="params" property="params" />
        <result column="ip" property="ip" />
        <result column="content_type" property="contentType" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user, operation, time, uri, method_type, method, params, ip, content_type, create_time
    </sql>

</mapper>
